<template>
  <div id="app">
    
     <vs-prompt
      @cancel="cerrarModal()"
      @accept="guardarDatos()"
      @close="cerrarModal()"
      :active.sync="dialogForm"
      title='Editar Pais'
      >
       <div class="con-exemple-prompt">
          Nombre:<vs-input placeholder="Nombre" v-model="tmpPais.name"/>
          Capital:<vs-input placeholder="Capital" v-model="tmpPais.capital"/>
          Población:<vs-input placeholder="Población" v-model="tmpPais.population"/>
          Region:<vs-input placeholder="Region" v-model="tmpPais.region"/>
          Subregion:<vs-input placeholder="Subregion" v-model="tmpPais.subregion"/>
       </div>
     </vs-prompt>

    <div class="contenedor p-1">
      <vs-row vs-w="12">
        <vs-col vs-type="flex" vs-justify="center" vs-lg="12" vs-sm="12" vs-xs="12" >
          <h1>Listado de paises</h1>
          <br>
        </vs-col>
      </vs-row>
      <vs-row vs-w="12">
        <vs-col  vs-lg="12" vs-sm="12" vs-xs="12" >

          <vs-table stripe :data="paises">
            <template slot="header">
              <h3>Paises</h3>
              <vs-button color="primary" type="filled" size="small" @click="abrirModal()">AGREGAR</vs-button>
            </template>
            <template slot="thead">
              <vs-th>#</vs-th>
              <vs-th>Nombre</vs-th>
              <vs-th>Capital</vs-th>
              <vs-th>Población</vs-th>
              <vs-th>Region</vs-th>
              <vs-th>Subregion</vs-th>
              <vs-th>Bandera</vs-th>
              <vs-th colspan="2">Acciones</vs-th>
              
            </template>

            <template slot-scope="{data}">
              <vs-tr :key="indextr" v-for="(tr, indextr) in data" >
                <vs-td >
                  {{indextr+1}}
                </vs-td>

                <vs-td :data="data[indextr].name">
                  {{data[indextr].name}}
                </vs-td>

                <vs-td :data="data[indextr].capital">
                  {{data[indextr].capital}}
                </vs-td>

                <vs-td :data="data[indextr].population">
                  {{data[indextr].population}}
                </vs-td>

                <vs-td :data="data[indextr].region">
                  {{data[indextr].region}}
                </vs-td>

                <vs-td :data="data[indextr].subregion">
                  {{data[indextr].subregion}}
                </vs-td>

                <vs-td :data="data[indextr].flag">
                  <img :src="data[indextr].flag" width="50px" alt="Bandera">
                </vs-td>

                <vs-td >
                  <vs-tooltip text="Editar pais">
                    <vs-button radius color="warning" type="filled" icon="edit" size="small" @click="editarPais(indextr)"></vs-button>
                  </vs-tooltip>
                </vs-td>

                <vs-td >
                  <vs-tooltip text="Eliminar pais">
                    <vs-button radius color="danger" type="gradient" icon="delete" size="small" @click="borrarPais(indextr)"></vs-button>
                  </vs-tooltip>
                </vs-td>

              </vs-tr>
            </template>
          </vs-table>

        </vs-col>
      </vs-row>
    </div>


  </div>
</template>

<script>

export default 
{
  name: 'App',
  async mounted()
  {
    let response=[];
    if(this.$storage.get('paises').length==0)
    {
      response=await this.$service.get('https://restcountries.eu/rest/v2/all');
      this.paises = this.$service.transformar(response.data);
      this.$storage.set('paises',this.paises);
    }
    else
    {
      this.paises = this.$storage.get('paises')
    }
  },

  data()
  {
    return{
      dialogForm:false,
      paises:[],
      tmpPais:
      {
        name: '',
        capital: '',
        population: '',
        region: '',
        subregion: '',
        flag: '',
      },
      indexPais:null
    }
  },

  methods:
  {
    abrirModal ()
    {
      this.dialogForm = true
      console.log('Abrir modal');
    },
    cerrarModal ()
    {
      this.dialogForm = false
      this.indexPais=null;
      this.restForm();
    },

    editarPais (index)
    {
      this.indexPais = index;
      this.tmpPais = { ...this.paises[index] };
      this.dialogForm = true;
    },

    guardarDatos ()
    {
      console.log('=====================>guardarDatos<==============')
      if (this.indexPais!=null)
      {
        this.paises[this.indexPais] = { ...this.tmpPais }
        const PaisesParcial = [...this.paises]
        this.paises = null
        this.paises = PaisesParcial
        this.indexPais = null
      }
      else
      {
        this.paises.push(this.tmpPais)
      }
      this.$storage.set('paises', this.paises)
      this.restForm()
      this.dialogForm = false
    },

    restForm ()
    {
      this.tmpPais={
        name: '',
        capital: '',
        population: '',
        region: '',
        subregion: '',
        flag: '',
      }
    },

    borrarPais (index)
    {
      this.paises.splice(index, 1);
      this.$storage.set('paises', this.paises);
    },
  }
}
</script>

<style>
  .p-1{
    padding: 1rem;
  }
</style>
